---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/BoxConfirm.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		<title>NellCargo|Oficial</title>
	</head>
	<body class="bg-black bg-[url('/img/logistic.jpg')] bg-cover h-auto">
		<!--Cabecera -->
		<header class="flex justify-center pt-10 h-auto animate-fade-left animate-once animate-duration-[3000ms] animate-delay-100">
			<img src="/img/LogoNellCargo.png" alt="logo" class="max-w-40">
		</header>
		<!--Cuerpo -->
		<main class="flex justify-center pt-20 text-6xl h-full animate-bounce animate-infinite animate-duration-[3000ms] animate-delay-3000">
			<h1 class="font-bold text-white text-[100px]">Próximamente</h1>
		</main>
		<!--Pie de pagina -->
		<footer class="flex justify-center h-auto animate-fade-up animate-once animate-duration-[3000ms] animate-delay-[5000ms]">
			<p class="text-white font-semibold text-[20px]">Designed by <a href="#" class="hover:text-[#1f4e6e] font-medium">SLDev</a></p>
		</footer>
	</body>
</html>
